html {
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-image: linear-gradient(to right, #b9dada,  #44c8c4);
}

div.body-wrapper {
  min-height: 100%;
}

@media (max-width: 750px) {
  body {
    font-size: 0.65rem;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.2rem;
  }
  .btn-responsive-sm {
    padding: 2px 4px;
    font-size: 80%;
    line-height: 1;
  }
  .btn-responsive-lg {
    padding: 5px 10px;
    font-size: 90%;
    line-height: 1;
  }
  .text-responsive {
    font-size: 0.7rem;
  }

  .table-font-size {
    font-size: 0.32rem;
  }

  .checkout-text {
    font-size: 0.52rem;
  }

  .product-img-width-height {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 751px) {
  .btn-responsive-sm {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2;
  }

  .btn-responsive-lg {
    font-size: 95%;
    line-height: 1;
  }

  .product-img-width-height {
    width: 150px;
    height: 150px;
  }
}

.rainbow-text {
    background: -webkit-linear-gradient(left, red, orange , yellow, rgb(0, 153, 255), rgb(116, 8, 240), violet);
    background: -o-linear-gradient(right, red, orange, yellow,  rgb(0, 153, 255), rgb(116, 8, 240), violet);
    background: -moz-linear-gradient(right, red, orange, yellow, rgb(0, 153, 255), rgb(116, 8, 240), violet);
    background: linear-gradient(to right, red, orange , yellow,  rgb(0, 153, 255), rgb(116, 8, 240), violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.landing {
  position: fixed;
  top: 40%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.background-img {
  position: fixed; 
  top: 0; 
  left: 0; 

  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.navbar-collapse ul.navbar-nav .nav-link:hover {
  padding-bottom: 1px;
  color: #ffa500;
  border-bottom: #ffa500 2px solid;
}
.footer {
  text-align: center;
  background-color: #343a40;
  color: #ccc;
  margin-top: 1rem;
  padding: 0.5rem 0rem;
}
.product-detail-page {
  width: 100%;
}
.orange-text {
  color: #ec6104;
}


#cartCount {
    font-size: 12px;
    padding: 1px 6px 3px;
    vertical-align: top;
    margin-right: -10px; 
}

.btn a {
  color: #ffffff;
}
.btn a:hover {
  text-decoration: none;
}


.dropdown-menu > .dropdown-item:hover {
  color: #ffa500;
}

.cross-middle-line-text {
    position: relative;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.cross-middle-line-text:before, .cross-middle-line-text:after {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: gray;
}
.cross-middle-line-text:before {
    margin-left: -50%;
    text-align: right;
}

.dropdown-menu-right > .dropdown-item:hover, .dropdown-menu-right > form .dropdown-item:hover {
    color: #fff;
    background-color: #ffa500;
}
.btn > p:hover, .btn > .fa-user:hover {
    color: #ffa500;
}


.sidebar-container {
  position: fixed;
  height: 3rem;
  top: 50%;
  right: 0%;
}
.sidebar {
  position: fixed;
  font-size: 0.5rem;
  top: 50%;
  right: 0%;
  margin-top: -150px; 
  overflow-x: hidden; 
  padding-top: 20px;
}
.sidebar.open {
  position: fixed;
  /* right: 10rem; */
  transform: translateX(-100);
}
.sidebar.open p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}
.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}
.FormRow:first-child {
  border-top: none;
}
.FormRowLabel {
  width: 15%;
  min-width: 70px;
  padding: 11px 0;
  color: #c4f0ff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.FormRowInput:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  animation: 1ms void-animation-out;
}
.FormRowInput {
  font-size: 20px;
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  animation: 1ms void-animation-out;
  border: 0;
}
.FormRowInput:focus {
  border-color: #87bbfd;
}
.FormRowInput::placeholder {
  color: #87bbfd;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.btn-checkout-color {
  color: #fff;
  background-color: #7795f8;
}
.btn-checkout-color:hover {
  color: #ffa500;
}

/* neon light */
#webBrand.navbar-brand {
  color: #fff;
}
#webBrand.navbar-brand:hover {
  color: #ffffff;
} 
#webBrand.navbar-brand:hover {
  -webkit-animation: neonOrange 1.5s ease-in-out infinite alternate;
  -moz-animation: neonOrange 1.5s ease-in-out infinite alternate;
  animation: neonOrange 1.5s ease-in-out infinite alternate;
}
@keyframes neonOrange {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@-webkit-keyframes neonOrange {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@-moz-keyframes neonOrange {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
/* end neon light */


.wrapper {
  position: relative;
  display: flex;
}
.search {
  border: 1.5px solid #5bc0de;
  border-radius: 20px;
  border-right: 0px;
  height: 2.4rem;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}
.search:hover, .search:focus {
  border: 1.5px solid #03ebf3;
  border-radius: 20px;
  border-right: 0px;
  height: 2.4rem;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #fff;
}
.search-icon {
  position: absolute;
  top: 12px;
  left: 4px;
  width: 4%;
  height: 50%;
}
span.remove-search-icon {
  position: absolute;
  display: block;
  top: 15px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
  background-color: #FF9900;
}
span.remove-search-icon span {
  position: absolute;
  top: -2.5px;
  right: 3.2px;
  font-size: 20px;
  color: #fff;
}


.password-field-status-icon {
  position: absolute;
  right: 5px;
  top: 17px;
  z-index: 1;
}
div > .form-control {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}